.card-wrapper {
    display: flex;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 596px) {
    .card-wrapper {
    flex-direction: column-reverse;
    }
}